<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css' integrity='sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Download Oragnizer</title>
</head>
<body>
    <header>
        <h1>Download Organizer</h1>
        <p>It organizes files from the Windows download directory.</p>
        <div>
            <button id="log-btn">
                <i class="fa-solid fa-rectangle-list"></i>
                <span>Get Log information</span>
            </button>
        </div>
    </header>
    <main>
        <div class="card x">
            <p>Make subfolders and transfer files from the download directory to them.</p>
            <button id="organize_files_btn">Organize Files</button>
        </div>
        <div class="card y">
            <p>Remove empty folders form download directory.</p>
            <button id="remove_empty_folders_btn">Remove Empty Folders</button>
        </div>
        <div class="card z">
            <p>Remove duplicate files form download directory and sub directorys.</p>
            <button id="remove_duplicate_files_btn">Remove Duplicate Files</button>
        </div>
    </main>
    <script src='../static/javascripts/app.js' type='module'></script>
</body>
</html>